python/site-packages/site.py
*.pth
*.egg
*.pyc
downscale
gard
icar
swim_real
swim_2_real
noahmp
python/calc_all_stats_19c.py
python/calc_all_stats_subdomain.py
python/site-packages/pip
python/site-packages/pip2
python/site-packages/pip2.7
cmake
